<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t2m.moneytracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_ml"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".sync.NetworkMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".wallet.SelectCategoryActivity"
            android:label="@string/select_category_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".wallet.AddWalletActivity"
            android:label="@string/add_wallet"
            android:theme="@style/AppTheme" />
        <activity android:name=".account.ForgotPasswordActivity" />
        <activity android:name=".account.RegistrationActivity" />
        <activity
            android:name=".account.LoginActivity"
            android:label="@string/login_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="Main Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transaction.AddTransactionActivity"
            android:label="@string/add_transaction_name"
            android:theme="@style/AppTheme" />
        android:theme="@style/AppTheme" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.Setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".changelanguage.ChangeLanguageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transaction.ViewTransactionDetailActivity"
            android:label="@string/transaction_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".transaction.ViewTransactionListActivity"
            android:label="@string/budget_detail_list_transactions_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".statistical.StatisticalActivity"
            android:label="@string/report"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".budget.AddBudgetActivity"
            android:label="@string/add_budget"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".budget.DetailBudgetActivity"
            android:label="@string/budget"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".budget.SelectBudgetTimeRangeActivity"
            android:label="@string/time_empty" />
        <activity
            android:name=".transaction.EditTransactionActivity"
            android:label="@string/edit_transaction"
            android:theme="@style/AppTheme" />
        <activity android:name=".sync.SyncActivity"
            android:theme="@style/AppTheme"
            android:label="@string/sync"></activity>
    </application>

</manifest>